# Python cache va kompilyatsiya fayllari
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Python build va dist papkalari
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
*.egg
MANIFEST
*.manifest
*.spec

# Logs va coverage
*.log
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Localization
*.mo
*.pot

# Django maxfiy va database fayllari
.env
.env.local
local_settings.py
db.sqlite3
db.sqlite3-journal

# Django migrations (faqat __init__.py saqlanadi)
**/migrations/*
!**/migrations/__init__.py

# Media va static fayllar
/media/
/staticfiles/

# IDE va sistem fayllari
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
